{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Historia Transakcji</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Data</th>
                <th>Użytkownik</th>
                <th>Produkt</th>
                <th>Zmiana</th>
                <span class="badge bg-warning text-dark">Wydanie</span>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}